body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
}

ul,li,ol,dl,dt,dd{
	margin:0;
	padding:0;
	list-style: none;
}

a{
	text-decoration: none;
}
img{
	border: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
